<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register Issues</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Add New Issue</h1>
    <form action="#" th:action="@{/}" th:object="${issue}" method="post">
        <div class="form-group">
            <label for="project">Project</label>
            <input type="text" class="form-control" id="project" placeholder="Project name" th:field="*{project}">
        </div>
        <div class="form-group">
            <label for="severity">Severity</label>
            <select class="form-control" id="severity" th:field="*{severity}">
                <option th:value="'Critical'" th:text="Critical"></option>
                <option th:value="'High'" th:text="High"></option>
                <option th:value="'Medium'" th:text="Medium"></option>
                <option th:value="'Low'" th:text="Low"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="description">Example textarea</label>
            <textarea class="form-control" id="description" placeholder="Enter a description!" th:field="*{description}"/>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
        <button type="reset" class="btn btn-warning mb-2">Reset</button>
    </form>
</div>
</body>
</html>